body {
  background: linear-gradient(0.25turn, #ff5edf, #04c8de);
  display: flex;
  align-items: center;
  justify-content: center;
}

#tsparticles {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.button {
  display: inline-block;
  padding: 0.75em 1.5em;
  border: 0.1em solid white;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Arial';
  font-weight: 400;
  color: white;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  transform: scale(1.1);
}